* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black; /* Cor de fundo */
}

#stage {
    border: 20px solid rgba(139, 9, 0, 0.959); /* Borda do jogo */
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.game-stage {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}
#stage {
    display: block; /* remove espaço abaixo do canvas */
    margin: 0 auto; /* centraliza o canvas */
    background-color: black; /* cor de fundo do canvas */
}
